.title {
  margin: 1.5em 0 0.3em 0;
}

.material-symbols-outlined {
  font-size: 1em;
  padding: 0;
}

.edit-folder-btn {
  display: inline;
  padding: 0.4em 0.6em;
  background-color: transparent;
}

.edit-folder-btn:hover {
  background-color: var(--bg-primary);
}

.notes {
  width: 100vw;
  height: 100vh;
}

.notes-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 3em;
  align-items: center;
}

.note {
  align-self: flex-start;
}


.listed-notes {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.add-note {
  width: 40%;
  background-color: var(--bg-primary);
  margin-bottom: 1em;
}

.editable-title {
  font-family: "Quicksand", sans-serif;
  background-color: var(--bg-primary);
  font-size: 1.5em;
  font-weight: 800;
  padding: 0.3em 0.5em;
  border: 1px solid var(--outline-primary);
  border-radius: 10px;
  margin: 1.5em 0 0.3em 0;
  text-align: center;
}