#root {
  /* max-width: 100; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-family: "Quicksand", sans-serif;
  --bg-primary: rgba(255, 255, 255, 0.311);
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
}